<footer class="row footer-content">

    <div class="scroll-up w-100 d-flex justify-content-center mt-3 mb-5">
        <div class="d-flex flex-column align-items-center ">
            <a href="#top" class="text-white d-block"><i class="fas fa-chevron-up" style="font-size: 50px;"></i></a><br>
            <small class="text-white">retourner en haut du site</small>

        </div>
    </div>

    <div class="bandeau-footer-container d-flex justify-content-center mb-3">
        <div class="d-flex flex-column justify-content-center align-items-center annonce-footer">
            <p class="pt-3"><span class="span-MY">MY </span>MUSICAL <span class="span-TRAINER">TRAINER</span> est présent au salon Musicora  " Le grand rendez-vous de la musique et des musiciens "</p>
            <img src="{{asset('assets/ressources/photo/Banniere_600x148.png')}}" class="pb-3 " alt="baniere brand salon">
        </div>
    </div>

    <div class=" w-100 d-flex justify-content-center align-items-end mt-5">
        

        <div class="bottom-footer">
            <ul class="d-flex link-bottom-footer">
                <li class="mr-5">
                    <a class="text-white " href="">Mentions légales</a>
                </li>
                <li class="mr-5">
                    <a class="text-white " href="">Politique de confidentialité</a>
                </li>
                <li class="mr-5">
                    <a class="text-white " href="">Conditions d'utilisation</a>
                </li>
                
            </ul>
        </div>

    </div>

</footer>